* {
    font-family: Arial, Verdana, sans-serif;
}

h1 {
    font-family: 'Courier New', monospace;
}

i {
    color: green;
}

i {
    color: red;
}

b {
    color: pink
}

p b {
    color:blue !important;
}

p b{
    color: violet;
}

p#intro {
    font-size: 100%;
}

p {
    font-size: 75%;
    width: 100%;
}

.link {
    font-size: 75%;
    text-decoration: dashed;
    display: block;
}

.nutritious {
    display: block;
}


.unriped-fruit {
    background-color: aqua;
}

#unique {
    background-color: brown;
}


