/* =========================================
   1. THE MODERN RESET
   Removes browser "opinions" and mystery gaps.
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* The suitcase rule! */
}

/* =========================================
   2. BASE STYLES
   Sets the standard for the whole page.
   ========================================= */
body {
    /* Industry standard font and readability */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #32680ee8;
    padding: 10px;
    margin: 1px;
}

body{
    font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    font-size: 0.75rem;
}

main {
    font-size: 1rem;
}

footer {
    font-size: 0.5rem;

}

h1 {
    font-size: 2.5rem;
}

section {
    margin: 0.5rem;
    padding: 1rem;
    border: 3px solid blue;
    max-width: 100rem;
    
    
}