/* define your tokens */

:root {
    --para-primary: #ffffff;
    --btn-primary: #be0b0bbb;
}

/* use the tokens */

.btn-primary {
    background: var(--btn-primary);
    color: #c4bbbbbb;
    border: #ec9108b0;
}

/* step 4 bonus: hover tokens */

/* :root {
    --btn-primary:#1df516d7;
} */

.btn:hover {
    color: var(--para-primary);
}